<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>위치, 소리, 진동 예제</title>
    <!-- 외부 CSS 파일 링크 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <!-- 위치 출력 영역 -->
    <div id="location-display">위치 출력</div>

    <!-- 오디오 파일 설정 -->
    <audio id="sound" src="{{ url_for('static', filename='sunset-beach-259654.mp3') }}" type="audio/wav" preload="auto"></audio>

    <!-- 버튼 생성 -->
    <button id="playButton"><p>위치,진동,소리</p></button>

    <div id="status-print">위도 경도</div>

    <!-- JavaScript 코드 -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
